#app .clear {
    clear: both;
}

#app .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

#app .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

#app .faded-75 {
    opacity: 0.25 !important;
    filter: alpha(opacity=25);
}

#app #page-container {
    width: 95% !important;
}

#app .pointer {
    cursor: pointer;
}

#app .whitespace-text {
    line-height: 1.75em;
}
